.about-more {
  @apply text-[var(--cor--texto)] mt-[5rem] text-center mx-auto
  
  
  tablet-g:w-[80%] tablet-g:text-center tablet-g:mx-auto
  
  px-[var(--px--mobile)]
   /* Desktop */
  desktop:mt-[10rem] desktop:flex desktop:items-center desktop:justify-center;
}

.svg-aboutmore {
  @apply /* Desktop */
  desktop:w-[50%];
}

.container-texto-about {
  @apply desktop:w-[50%];
}

.titulo-about-more {
  @apply text-2xl font-semibold;
}

.texto-about-more {
  @apply mt-[2rem] font-normal text-[15px] text-gray-300 leading-9
  
  
  
  /* Desktop */
  desktop:w-[100%] desktop:mx-auto desktop:leading-10;
}

.nome-empresa-formation {
  @apply text-[16px] font-semibold;
}
