.about-more {
  @apply text-[var(--cor--texto)] mt-[5rem] text-center mx-auto
  
  
  
  px-[var(--px--mobile)]
  cel-g:flex cel-g:flex-col cel-g:items-center cel-g:justify-center
  
   /* Desktop */
  desktop:mt-[5rem] desktop:flex flex-row-reverse desktop:items-center desktop:justify-center desktop:px-[var(--px--desktop)]
  
  /* Laptop */
  laptop:mt-[5rem] laptop:flex laptop:flex-row-reverse laptop:items-center laptop:justify-center
  laptop:px-[var(--px--laptop)]
  
  
  /* Tablet */

  tablet-g:mt-[5rem] tablet-g:flex tablet-g:flex-row-reverse tablet-g:items-center tablet-g:justify-center
  tablet-g:px-[var(--px--tablet)];
}

.svg-aboutmore {
  @apply /* Desktop */
  desktop:w-[40%]
  
  desktop:scale-x-[-1]
  
  /* Laptop */
  laptop:w-[40%]
  
  laptop:scale-x-[-1]
  
  
  tablet-g:w-[40%]
  cel-g:w-[60%]

  tablet-g:scale-x-[-1];
}

.container-texto-about {
  @apply desktop:w-[40%]
  
  /* laptop: */
  laptop:w-[60%]
  cel-g:w-[70%]
  tablet-g:w-[60%];
}

.titulo-about-more {
  @apply text-2xl font-semibold;
}

.texto-about-more {
  @apply mt-[2rem] font-normal text-left text-[18px] text-gray-300 leading-9
  
  
  
  /* Desktop */
  desktop:w-[100%] desktop:mx-auto desktop:leading-10
  
  /* Laptop */
  laptop:w-[100%] laptop:mx-auto laptop:leading-10;
}

.nome-empresa-formation {
  @apply text-[16px] font-semibold;
}
