.additional-skills {
  @apply text-[var(--cor--texto)] mt-[3rem] font-semibold px-[var(--px--mobile)]
  
  desktop:w-[50%] desktop:p-0 desktop:flex desktop:flex-col desktop:items-center desktop:justify-center desktop:mx-auto desktop:m-0

  laptop:w-[50%] laptop:p-0 laptop:flex laptop:flex-col laptop:items-center laptop:justify-center laptop:mx-auto laptop:m-0;
}

.titulo-additional-skills {
  @apply text-xl;
}

.container-additional-skills {
  @apply flex flex-wrap mt-10 gap-5
  
  
  desktop:w-[50%] desktop:items-center 

  
  laptop:w-[50%] laptop:items-center;
}

.skill-additional {
  @apply flex items-center gap-2 mt-2;
}

.skill-additional span {
  @apply text-[15px] font-light;
}

.circle-additional {
  @apply h-[10px] bg-gradient-to-r from-[#ad6aff] to-[#47d0e6] w-[10px] rounded-full;
}
