footer {
  @apply bg-[#09001d] text-[var(--cor--texto)];
}

footer h3 {
  @apply font-semibold;
}

.main-footer {
  @apply flex  flex-col justify-between pt-10 pb-3 px-[var(--px--mobile)]
  
  
  desktop:px-[var(--px--desktop)]
  
  desktop:flex-col
  
  laptop:px-[var(--px--laptop)];
}

.contact-me {
  @apply flex items-start
  justify-between
  
  
  desktop:flex-row;
}

.icons-footer-style {
  @apply gap-2;
}

.email-footer {
  @apply flex flex-col  items-center;
}

.copyright {
  @apply h-fit w-fit mx-auto mt-[5rem];
}
.copyright p {
  @apply text-[13px];
}
