.header-style {
  @apply flex py-[1.5rem] text-[var(--cor--texto)]  justify-between
  bg-[#09001d] px-[var(--px--mobile)]
  /* Responsivo */
  
  desktop:px-[var(--px--desktop)] 
  desktop:items-center
  
 tablet-g:w-[100%]
  
  laptop:px-[var(--px--laptop)];
}

.logo-site {
  @apply w-fit whitespace-nowrap;
}

.menu {
  @apply flex  w-[100%] items-center justify-end
  
  desktop:justify-between
  tablet-g:justify-between
  laptop:justify-between;
}

.fa-bars,
.fa-xmark {
  @apply transition-transform duration-300 ease-in-out text-[25px] 
  
  tablet-g:hidden laptop:hidden desktop:hidden;
}

.fa-xmark {
  @apply rotate-90;
}

.button-menu {
  @apply flex w-fit  cursor-pointer;
}

.container-menu {
  @apply flex-col  absolute text-right top-[65px]  right-0 bg-[#09001d] w-[100%] gap-2  flex h-0 overflow-hidden z-[999]
  
  tablet-g:overflow-visible tablet-g:static tablet-g:h-full tablet-g:items-center tablet-g:flex-row tablet-g:w-fit
  tablet-g:justify-end


  laptop:overflow-visible laptop:static laptop:h-full laptop:items-center laptop:flex-row laptop:w-fit
  laptop:justify-end


  
  desktop:overflow-visible desktop:static desktop:h-full desktop:items-center desktop:flex-row desktop:w-[50%]
  desktop:justify-end;
}

.subcontainer-menu {
  @apply flex flex-col desktop:flex-row desktop:gap-10 px-[1.3rem];
}

.menu-aberto {
  @apply flex-col  absolute text-right top-[65px] right-0 bg-[#09001d] w-[100%] gap-2  flex h-fit overflow-hidden z-[999];
}

.nome-links-header {
  @apply text-[1rem] px-[1.3rem] font-light whitespace-nowrap;
}

.subcontainer-menu li {
  @apply py-[1rem] border-b border-[#170047] w-[100%]
  
  desktop:border-none desktop:p-0
  desktop:w-fit
  laptop:border-none

  tablet-g:border-none;
}

.subcontainer-menu li a {
  @apply p-0 w-[100%] hover:text-[#47d0e6] hover:transition-colors;
}

.icons-header-style {
  @apply flex w-full border-b border-[#170047] gap-5 justify-end py-[1rem] px-[1.3rem] items-end
  
  tablet-g:border-none
tablet-g:w-fit
tablet-g:m-0 tablet-g:p-0


laptop:border-none
laptop:w-fit
laptop:m-0 laptop:p-0



  desktop:border-none
  desktop:w-fit
  desktop:m-0 desktop:p-0;
}

.icons-social {
  @apply text-[30px] items-center cursor-pointer
  hover:text-[#47d0e6] hover:transition-all;
}
