@import "./header.css";
@import "./section-sobremim.css";
@import "./projetos.css";
@import "./about-more.css";
@import "./skills.css";
@import "./additional-skills.css";
@import "./formation.css";
@import "./footer.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor--texto: white;
  --px--desktop: 10rem;
  --px--mobile: 1.3rem;
}

html {
  @apply scroll-smooth;
}

.body-style {
  @apply bg-[#0e0030] font-poppins;
}

/* main,
header,
.main-footer {
  @apply px-[1.3rem]
  
  
  cel-g:px-[3rem] tablet-g:px-[5rem];
} */
