.projetos {
  @apply text-black mt-[8rem] py-[3rem] 
  
  flex flex-col justify-center items-center mx-auto
  px-[var(--px--mobile)]  
  
  desktop:px-[var(--px--desktop)] 
  tablet-g:px-[var(--px--tablet)]
  laptop:px-[var(--px--laptop)];
}

.titulo-projetos {
  @apply text-2xl text-white font-semibold border-b border-[#47d0e6];
}

.container-cards {
  @apply mt-[4rem] w-[100%] flex justify-center  gap-10 flex-wrap

  /* Responsive */
  cel-g:px-[30px] tablet-g:px-[60px];
}

.img-card {
  @apply w-[300px] h-[50%] px-5 py-5 rounded-3xl;
}

.card {
  @apply flex flex-col
  w-[300px] h-[450px]
  
  bg-gray-200 rounded-[15px];
}

.titulo-card {
  @apply text-[18px] font-semibold;
}

.container-texto-projetos {
  @apply px-5 h-[50%] flex flex-col pt-3 mb-5 justify-between;
}

.texto-card {
  @apply text-[15px] w-[100%]  text-black font-normal;
}

.links-projetos {
  @apply flex items-center justify-between;
}

a.link-site {
  @apply bg-gradient-to-r from-[#47d0e6] to-[#ad6aff] 

  /* Hover */
  hover:bg-gradient-to-r hover:from-[#01353d] hover:to-[#47d0e6]
  hover:text-white hover:transition-all


  py-[0.7rem] px-[1.5rem] rounded-full text-[13px] font-medium text-white;
}

.link-github {
  @apply bg-black text-white py-[.7rem] px-[1.5rem] rounded-full text-[13px] hover:bg-gray-700 hover:text-white font-medium hover:transition-all;
}
