.projetos {
  @apply text-[var(--cor--texto)] mt-[8rem]  
  
  flex flex-col justify-center items-center mx-auto
  px-[var(--px--mobile)];
}

.titulo-projetos {
  @apply text-2xl font-semibold border-b border-[#47d0e6];
}

.container-cards {
  @apply mt-[4rem] w-[100%] flex justify-center  gap-10 flex-wrap

  /* Responsive */
  cel-g:px-[30px] tablet-g:px-[60px];
}

.img-card {
  @apply w-[300px] h-[50%] px-5 py-5 rounded-3xl;
}

.card {
  @apply flex flex-col
  w-[300px] h-[450px];
}

.card {
  border-width: 2px;

  border-style: solid;

  border-image: linear-gradient(to right, #ad6aff, #47d0e6) 1;
}

.titulo-card {
  @apply text-[18] font-medium;
}

.container-texto-projetos {
  @apply px-5 h-[50%] flex flex-col pt-3 mb-5 justify-between;
}

.texto-card {
  @apply text-[15px] w-[100%]  text-gray-400 font-normal;
}

.links-projetos {
  @apply flex items-center justify-between;
}

a.link-site {
  @apply bg-gradient-to-r from-[#47d0e6] to-[#ad6aff] 

  /* Hover */
  hover:bg-gradient-to-r hover:from-[#01353d] hover:to-[#47d0e6]
  hover:text-white


  py-[0.5rem] px-[1.5rem] rounded-full text-[13px] font-medium;
}

.link-site:hover {
  transition: all 1s;
}
.link-github:hover {
  transition: all 0.3s;
}

.link-github {
  @apply bg-black text-white py-[.7rem] px-[1.5rem] rounded-full text-[13px] hover:bg-white hover:text-black font-medium;
}
