.section-sobremim {
  @apply text-[var(--cor--texto)]
  /* Responsivo */;
}

.container-section-sobremim {
  @apply absolute top-[150px]
  px-[var(--px--mobile)]

  desktop:px-[var(--px--desktop)]
  
  laptop:px-[var(--px--laptop)];
}
.background {
  background-image: url("/img/backgroundprogramming.jpg");
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.background {
  @apply relative blur-[4px] brightness-[25%]
  
  cel-g:h-[900px] desktop:h-[700px] laptop:h-[700px];
}

.container-sobremim {
  @apply /* Responsivo */
  /* Tablet Grande */
  tablet-g:flex tablet-g:items-center tablet-g:justify-between
  

  /* Laptop */

  /* Desktop */
  desktop:flex desktop:items-center desktop:justify-between
  desktop:px-[var(--px--desktop)]
  
  
  laptop:flex laptop:items-center laptop:justify-between;
}

.container-texto-sobremim {
  @apply /* Tablet Grande */
  tablet-g:w-[50%]
  
  /* Desktop */
  desktop:w-[50%]
  
  laptop:w-[50%];
}

.titulo-sobremim {
  @apply text-3xl w-[100%] font-semibold leading-[50px];
}

.span-section-sobremim {
  @apply bg-gradient-to-r from-[#ad6aff] to-[#47d0e6] bg-clip-text text-transparent text-4xl;
}

.texto-sobremim {
  @apply mt-[1rem] text-[15px] text-gray-400 leading-8
  font-medium 
  

  /* Desktop */
  desktop:text-[17px]
  desktop:w-[500px];
}

.img-sobremim {
  @apply w-[300px] rounded-full border-solid border-2 border-sky-400 ml-0 mt-[3rem]  right-0  left-0
  
  /* Tablet Grande */
  tablet-g:mt-0 tablet-g:w-[50%]
  
   /* Desktop */
   desktop:mt-0 desktop:w-[30%];
}

.menu-button-cv {
  @apply text-left mt-[5rem]  desktop:pl-[var(--px--desktop)]
  
  
  
  /* Desktop */
  desktop:mt-[3rem];
}

.link-curriculo {
  @apply text-[var(--cor--texto)] bg-gradient-to-r from-[#ad6aff] to-[#47d0e6] px-[2rem] py-[1rem] rounded-full;
}
